* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #fff;
  overflow-x: hidden;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../img/backgrounds/000.png');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* ===== BODY MOBILE ===== */

@media (max-width: 768px) {
  body {
    background-attachment: scroll; /* remove o fixed */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}

section {
  padding: 120px 8% 20px;
  min-height: 90vh;
}

/* ===== SECTION MOBILE ===== */

section {
  padding: 120px 8% 20px;
  min-height: 90vh;
}

/* Tablets */
@media (max-width: 1024px) {
  section {
    padding: 90px 6% 20px;
    min-height: auto;
  }
}

/* Mobile */
@media (max-width: 768px) {
  section {
    padding: 70px 5% 20px;
    min-height: auto;
  }
}

/* Mobile pequeno */
@media (max-width: 480px) {
  section {
    padding: 60px 4% 16px;
  }
}


/* ===== HEADER ===== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 62px;
  padding: 0 8%;        /* REMOVE padding vertical */
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  background: rgba(0,0,0,0.1);
  z-index: 1000;
  box-sizing: border-box;
}

.logo{

  padding-top: 15px;
}

  .menu-toggle{
  display: none;
}

.logo img {
  width: clamp(50px, 8vw, 120px);
  height: auto;
  margin-top: 5px;
}

nav ul {
   list-style: none;
  display: flex;
  gap: clamp(16px, 4vw, 80px);
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
  font-size: 12px;
  font-size: clamp(11px, 1.2vw, 12px);
  font-size: 15px;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #66999A;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav a:hover::after {
  width: 100%;
}

/* ===== MOBILE HEADER ===== */
@media (max-width: 768px) {

  /* botão hamburguer */
  .menu-toggle {
    display: block;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }


  /* esconde menu inicialmente */
  nav {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    background: rgba(55, 83, 83, 0.80);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  nav.active {
    max-height: 300px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  .logo img{
    width: 70px;
}

}

/* ===== WHATSAPP FLUTUANTE (DIREITA) ===== */

.whatsapp-float {
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  z-index: 999;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}


.whatsapp-float.pulse {
  animation: pulse 0.6s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* ===== MOBILE WHATSAP FLUTUANTE ===== */

@media (max-width: 900px) {
  .whatsapp-float {
    right: 15px;
    bottom: 20px;
  }
}

/* ======================================= */


/* ===== SECTION SOBRE NÓS===== */
.localizacao {
  padding:  0 0 120px 0;
  min-height: 200px;
  padding-top: 150px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
}

/* COLUNA ESQUERDA */
.content {
  flex: 1;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 1.2;
}

.item {
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
  
}

.icon {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.icon img{
    width: 52px;
}

.item:nth-child(4) .icon img {
  width: 55px;

}

.item h3 {
  font-size: 25px;
  padding-bottom: 10px;
  color: #90DCDE;
}

.link-cepan {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}


.item p {
  font-size: 15px;
  line-height: 1.6rem;
  color: #cfcfcf;
}

/* COLUNA DIREITA */
.images {
  flex: 1;
  padding-top: 50px;
  position: relative;
}

.images img {
  width: 100%;
  border-radius: 12px;

}

.img-top {
  max-width: 350px;
  margin-left: auto;
  margin-bottom: 30px;
}

.img-bottom {
  max-width: 900px;
}

/* RESPONSIVO */
@media (max-width: 758px) {


  .content h2{
    font-size: 35px;
    text-align: center;
  }

  .content{
    padding: 25px;
  }
  .container {
    flex-direction: column;
  }

  .images {
    margin-top: 40px;
    
  }

  .img-top,
  .img-bottom {
    max-width: 100%;
  }
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
/* ======================================= */



/* ======================================= */

.jp-hero-header {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 0;

}

.jp-hero-header h2 {
font-size: 30px;
color: #ffffff;

}


.jp-hero-header p {
font-size: 18px;
color: #a1a1a1;
padding-top: 15px;

}



.jp-hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 0 8%;
  
}


.jp-image-section {
  flex: 1;
  text-align: center;
  padding: 0;
  padding: 80px 8%;
}

.jp-image-section img {
  width: 500px;
  max-width: 700px;
  height: auto;
}

.jp-metrics {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 60px; /* espaçamento entre os cards */

  
}

.jp-metric {
   background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    overflow: hidden; 
    padding: 0;       
    width: 400px;

}

.metric-header {
    background-color: #354a4b; /* cor da faixa */
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 15px 20px;
    text-align: center;
}

.jp-metric p {
    padding: 15px 20px;
    margin: 0;
    color: #fff;
    text-align: center;
}


.jp-metric:hover {
  transform: translateY(-6px);
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  .jp-hero-container {
    flex-direction: column;
    text-align: center;
  }

  .jp-metrics {
    grid-template-columns: 1fr;
  }

  .jp-image-section {
  padding: 0 8%;
}
}


/* ===== SECTION SOBRE NÓS===== */
.parceiros {
  padding:  0 0 120px 0;
  min-height: 200px;
  padding-top: 100px;
}

.container-parceiros {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 120px;
}

/* COLUNA ESQUERDA */
.content-parceiros {
  flex: 1;
}

.content-parceiros h2 {
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 1.2;
}

.item-parceiros {
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
  
}

.icon-parceiros {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.icon-parceiros img{
    width: 52px;
}

.item-parceiros:nth-child(4) .icon-parceiros img {
  width: 55px;

}

.item-parceiros h3 {
  font-size: 25px;
  padding-bottom: 10px;
  color: #90DCDE;
}

.item-parceiros p {
  font-size: 15px;
  line-height: 1.6rem;
  color: #cfcfcf;
}

/* COLUNA DIREITA */
.images-parceiros {
  flex: 1;
  align-items: center;
  position: relative;
}

.images-parceiros img {
  width: 100%;
  border-radius: 12px;

}

.img-top {
  max-width: 350px;
  margin-left: auto;
  margin-bottom: 30px;
}

.img-bottom {
  max-width: 900px;
}

/* RESPONSIVO */
@media (max-width: 758px) {


  .content-parceiros h2{
    font-size: 35px;
    text-align: center;
  }

  .content-parceiros{
    padding: 25px;
  }
  .container-parceiros{
    flex-direction: column;
  }
 
  .images-parceiros {
    margin-top: 40px;
    
  }

  .img-top,
  .img-bottom {
    max-width: 100%;
  }
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
/* ======================================= */


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  text-align: center;
}

.footer-col h3,
.footer-col h4 {
  color: #fff;
  margin-bottom: 10px;
}

#img-telefone-footer {
  width: 18px; 
  height: auto;
}

#img-email-footer {
  width: 15px;   
  height: auto;
}
.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.75);
}

.footer-col a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.footer-col a:hover {
  color: #25d366;
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 25px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .jp-footer {
    text-align: center;
  }
}
